body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* LOGIN */
  .login{
    text-align: center;
    padding: 70px 0;
  }

  .login_title{
    color: white;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
  }

  .login_subtitle{
    color: white;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }

  /* NAVBAR */

  .me-auto{
    position: relative;
    float: right;
  }

  /* MAIN */

  .mainContainer{
    display: flex;
    margin-top: 5%;
  }

  .term_main{
    text-align: center;
  }

  .term_button{
    padding: 0px 50px;
  }

  .songListMain{
    float: left;
    position: relative;
    max-width: 100%;
  }

  .songMainContainer{
    color: white;
    font-size: x-small;
    margin-top: 3px;
    position: relative;
    background-color: #0e3846;
  }
  
  .songMainText{
    display: inline-block;
    margin-left: 5px;
  }

  .getRecommendationsMain{
    align-items: center;
    margin-top: 5%;
  }

  .graphColumn{
    margin-top: 5%;
    align-items: center;
    margin-left: 5%;
  }

  /* ABOUT */

  .aboutContainer{
    margin-top: 5%;
    color: white;
  }

  /* RECOMMENDATIONS */

  .recommendationsList{
    position: relative;
    top: 60px;
    width: 40%;
  }

  .songCard{
    /* display: flex; */
    position:relative;
    margin-top: 3px;
  }

  .songCard:hover {
    background-color: red;
  }

  .recommendationsImage{
    width: 50px;
    height: 50px;
    position: relative;
    left: -12px;
  }

  .songName{
    display: inline-block;
    font-size: medium;
    position:absolute;
    bottom: 0;
  }

  .songData{
    display: inline-block;
    font-size: xx-small;
    position:absolute;
    right: 0;
  }

  