body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* LOGIN */
  .login{
    text-align: center;
    padding: 70px 0;
  }

  .login_title{
    color: white;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
  }

  .login_subtitle{
    color: white;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }

  /* NAVBAR */

  .me-auto{
    position: relative;
    float: right;
  }

  /* MAIN */
  .term_main{
    text-align: center;
    padding: 100px 0;
  }

  .term_button{
    padding: 0px 50px;
  }

  .songListMain{
    float: left;
    position: relative;
    top: 60px;
  }

  .songMainContainer{
    color: white;
    font-size: x-small;
    margin-bottom:3px;
    background-color: #23a6d5;
    width: 200px;
  }
  
  .songMainText{
    display: inline-block;
    margin-left: 5px;
  }

  /* ABOUT */

  /* RECOMMENDATIONS */
  .recommendationsList{
    position: relative;
    top: 60px;
    width: 400px;

  }

  .songCard{
    position:relative;
    margin-top: 3px;
  }

  .songCard:hover {
    background-color: red;
  }

  .recommendationsImage{
    width: 50px;
    height: 50px;
    position: relative;
    left: -12px;
  }

  .songName{
    display: inline-block;
    font-size: x-small;
    position:absolute;
    bottom: 0;
  }

  .songData{
    display: inline-block;
    font-size: xx-small;
    position:absolute;
    right: 0;
  }